@import "./settings/colors";
@import "./settings/fonts";

.section__AboutUs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-background-light-grey;
}

.AboutUs{
    &__titles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
        margin-top: 50px;
        padding: 20px 100px;
        width: 50%;
    }

    &__title{
        font-size: $font-size-title;
        margin-bottom: 25px;
    }

    &__text{
        text-align: center;
        font-size: 25px;
        line-height: 40px;
        margin: 30px 0;
    }

    &__sign{
        align-items: flex-end;
    }

    &__image{
        max-width: 1050px;

        & img{
            width: 100%;
        }
    }

}