@import "./settings/colors";
@import "./settings/fonts";


/* Navigation.css */
.navigation__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation__up {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $color-background-white;
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin-right: 60px;
}

.navigation__up nav {
    display: flex;
    gap: 20px;
}

.navigation__up button {
    background-color: $color-background-white;
    color: $color-text-light-grey;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid transparent;
}

.navigation__up button:hover {
    border: 2px solid $color-background-yellow;
}

.navigation__scroll {
    width: 100%;
    margin-right: 60px;
}

.navigation__scroll nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation__scroll nav a {
    margin: 10px 0;
    text-decoration: none;
    color: $color-text-dark-gray;
    font-size: 18px;
    cursor: pointer;
    padding: 9px 20px;
    border: 2px solid transparent;

    &:hover{
        border: 2px solid $color-text-dark-gray;
    }
}
