@import "./settings/colors";
@import "./settings/fonts";

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 10px;
    cursor: pointer;
    border: 2px solid transparent;
    margin: 0 5px;
    background: $color-background-white;
}

.pagination .active {
    border: 2px solid $color-text-dark-gray;
}

.pagination button:hover {
    border: 2px solid $color-text-dark-gray;
}
