//colors
$color-background-white: #FFFFFF;
$color-background-light-grey: #F0F1F1;
$color-background-yellow: #FAD648;
$color-text-dark-gray: #3C3C3C;
$color-text-green: #5E5322;
$color-text-light-grey: #737373;
$color_black: #000000;


